<div class="container">
    <div class="text-container"><span class="intro">Welcome to the drawing game <span class="painseau">PAINseau</span>!</span>
        Do you wish to consult the tutorial of a game?
        <br>
        <!-- <br> If not, you will be led to the main page. <br> -->
        <span class="note">*Note that you can access the tutorial anytime from the navigation bar</span>
    </div>
    <div  class="btn-container">
        <button mat-flat-button (click)="goMenu()">Not for now</button>
        <button mat-flat-button (click)="goTutorial()">Start Tutorial</button>
    </div>
</div>
