.color {
  color: #212e5b;

  &.dark {
    color: white;
  }
  &.red {
    color: white;
  }
  &.christmas {
    color: white;
  }
  &.halloween {
    color: black;
  }
  &.valentine {
    color: #9b0f2e;
  }
}
::ng-deep .mat-progress-bar-buffer {
  background: white;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.tool-highlight {
  z-index: 100;
  position: absolute;
  left: 16%;
  width: 8% !important;
}
.rooms-highlight {
  width: 14.5% !important;
  top: 51%;
  height: 41% !important;
  z-index: 100;
  left: 0.7%;
  position: absolute;
}
.guess-highlight {
  z-index: 100;
  position: absolute;
  height: 77% !important;
  top: 22%;
  width: 18% !important;
  left: 81%;
}

.canvas-highlight {
  z-index: 90;
  position: absolute;
  left: 24%;
}
.canvas-left {
  position: absolute;
  left: 24%;
}

.right-highlight {
  z-index: 100;
  position: absolute;
  height: 92%;
  left: 80%;
}

.instruction {
  position: absolute;
  background: #101010;
  color: #dcdcdc;
  border: 3px solid #212e5b;
  top: 467px;
  right: 270px;
  width: 607px;
  height: 133px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1%;
  z-index: 100;

  .text-wrapper {
    width: 90%;
    height: 60%;
  }

  .btn-wrapper {
    display: flex;
    color: white;
    width: 90%;
    justify-content: space-between;

    .mat-button {
      display: flex;
      background: #212e5b;
      margin-top: 4px;
      height: 36px;
    }

    .progress {
      width: 57%;
      align-items: center;
      display: flex;
    }
    .steps-btn {
      display: flex;
      justify-content: space-between;
      width: 20%;
      :disabled {
        background-color: #5e5e5e;
        cursor: not-allowed;
      }
      .mat-icon-button {
        background: #212e5b;
      }
    }
  }
}

.svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  // filter: alpha(opacity=60);
}

.path {
  fill: rgb(0 0 0 / 87%);
  opacity: 0.4;
}

#workspace {
  background-color: gray;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  height: 100%;
}
#toolbar {
  height: 100%;
  width: 20%;
  background-color: #e5cfe6;
  margin: 0;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.dark {
    background: #1e2235;
    border: solid #1e2235;
    color: white;
  }
  &.red {
    background: #ce1515;
    border: solid #ce1515;
    color: white;
  }
  &.christmas {
    background: green;
    border: solid green;
    color: white;
  }
  &.halloween {
    background: rgb(255, 136, 0);
    border: solid rgb(255, 136, 0);
    color: black;
  }
  &.valentine {
    background: #eec0da;
    border: solid #eec0da;
    color: #9b0f2e;
  }
  .team-wrapper {
    margin-top: 5%;
    width: 92%;
    height: 50%;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

    .team-content {
      width: 95%;
      height: 96%;
      padding: 0 5% 0px 5%;
      .title {
        font: 500 19px/32px Roboto, "Helvetica Neue", sans-serif;
        padding: 4% 0 4% 0;
        height: 10%;
      }
      .team-diviser {
        height: 45%;
        font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;

        .player-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 35%;
          .username {
            margin-left: 4%;
          }
        }
      }
    }
  }
  #flex-container {
    width: 92%;
    height: 45%;
    margin-top: 3%;
    border-radius: 13px;
  }
}
#panel {
  height: 100%;
  width: 10%;
  background-color: #f2e7f3;
  margin: 0px;
  float: left;
  display: block;
}
#panel.dark {
  background: #8f919a;
}
#panel.red {
  background: #e78a8a;
}
#panel.halloween {
  background-color: #ffc480;
}
#panel.valentine {
  background: #f7e0ed;
}
#panel.christmas {
  background: #db1212d8;
}

.avatar {
  width: 39px;
  border-radius: 21px;
}
.container-color {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper {
  background-color: #e1bee7;
  height: 8%;
  display: flex;
  align-items: left;

  &.dark {
    background: #272c44;
    color: white;
  }
  &.red {
    background: #af0303;
    color: white;
  }
  &.christmas {
    background: rgb(129, 24, 20);
    color: white;
  }
  &.halloween {
    background: rgb(241, 121, 9);
  }
  &.valentine {
    background: #ff99c9;
    color: #9b0f2e;
  }

  .game-info {
    display: flex;
    // margin-left: 2%;
    width: 100%;
    // justify-content: space-between;

    .time-container {
      width: 50%;
      margin-left: 2%;
      display: flex;
      align-items: center;
    }
    .indication {
      width: 60%;
      display: flex;
      align-items: center;
    }
    .leave {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2%;
      position: absolute;
      top: 1.5%;
      left: 78%;

      .leave-btn {
        padding: 0px 5.5px 0px 5.5px;
        height: 32px;
        color: white;
        background-color: #5e5e5e;
      }
    }
  }
  .times-up {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212e5b;
    color: white;
    &.dark {
      background: #1e2235;
      color: white;
    }
    &.red {
      background: #ce1515;
      color: white;
    }
    &.christmas {
      background: green;
      color: white;
    }
    &.halloween {
      background: #ffc37f;
      color: black;
    }
    &.valentine {
      background: #eec0da;
      color: #9b0f2e;
    }
  }
}
.draw-wrapper {
  display: flex;
  height: 92%;
  #right-wrapper {
    background-color: #e5cfe6;
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &.dark {
      background: #1e2235;
      border: solid #1e2235;
      color: #f1e5f1;
    }
    &.red {
      background: #ce1515;
      border: solid #ce1515;
      color: white;
    }
    &.christmas {
      background: green;
      border: solid green;
      color: white;
    }
    &.halloween {
      background: rgb(255, 136, 0);
      border: solid rgb(255, 136, 0);
      color: black;
    }
    &.valentine {
      background: #eec0da;
      border: solid #eec0da;
      color: #9b0f2e;
    }
    .guess-info {
      margin-top: 5%;
      width: 92%;
      height: 12%;
      padding: 2% 0 2% 0;
      border-radius: 13px;
      justify-content: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      .guess-count {
        width: 97%;
        text-align: center;
        font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;
      }
      .hint-btn {
        padding: 0px 5.5px 0px 5.5px;
        height: 32px;
        color: white;
        background-color: #5e5e5e;
        cursor: not-allowed;
      }
    }
    #guess-zone {
      width: 92%;
      height: 86%;
      border-radius: 13px;
      margin-bottom: 5%;
    }
    // .chat-wrapper {
    //     border-radius: 13px;
    //     height: 42%;
    //     width: 95%;
    // }
  }
}
