<div class="background center">
  <div class="container">
    <h1 style="height: 8%">PAINseau</h1>
    <div class="form-container center">
      <mat-card class="form-width">
        <mat-card-title>
          <h4 class="m-0">{{ "login.signin" | translate }}</h4>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm">
            <p>
              <mat-form-field class="max-width">
                <mat-label>{{ "login.username" | translate }} </mat-label>
                <input
                  matInput
                  [placeholder]="'login.username' | translate"
                  type="text"
                  [formControl]="usernameControl"
                />

                <mat-error *ngIf="usernameControl.hasError('required')">
                  {{ "login.username.reqError" | translate }}</mat-error
                >
              </mat-form-field>
              <mat-form-field class="max-width">
                <mat-label> {{ "login.pw" | translate }} </mat-label>
                <input
                  matInput
                  placeholder="{{ 'login.pw' | translate }}"
                  type="password"
                  [formControl]="passwordControl"
                />
                <mat-error *ngIf="usernameControl.hasError('maxlength')">
                  Username must be under 12 characters
                </mat-error>
                <mat-error *ngIf="usernameControl.hasError('required')">
                  {{ "login.pw.reqError" | translate }}</mat-error
                >
              </mat-form-field>
            </p>

            <!-- not needed for prototype -->
            <!-- <div class="forgot-psw right">
              <a
                class="link"
                href="https://www.linkedin.com/in/nu-chan-nhien-ton-95b776192/"
                >Forgot password?</a
              >
            </div> -->

            <div class="right">
              <button
                type="submit"
                (keyup.enter)="login()"
                (click)="login()"
                class="login-button max-width"
                mat-button
                [disabled]="loginForm.invalid"
              >
                {{ "login.login" | translate }}
              </button>
            </div>
            <br />
            <br />
            <div>
              {{ "login.createAcc" | translate }}
              <a (click)="goSignUp()">{{ "login.signup" | translate }}!</a>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
